.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
}

.logo {
  width: 50%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 25%;
  }
}